.impowerBox .qrcode {
    width: 140px;
}
.impowerBox .title {
    display: none;
}
.impowerBox .info {
    width: 140px;
}
.status_icon {
    displayï¼šnone
}
.impowerBox .status {
    text-align: center;
}
